
# This CI will launch a Docker image that contains all the dependencies required
# within that image the pytest test suite is run 
# container:
#       image: continuumio/miniconda3:23.3.1-0

name: CI with install

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - '.gitignore'
      - '*.md'
      - 'CITATION.cff'
      - 'LICENSE.txt'
      - 'readthedocs.yml'
  push:
    branches:
      - main

jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: install non pypi dependencies
        shell: bash
        run: |
          wget -O Miniforge3.sh "https://github.com/conda-forge/miniforge/releases/latest/download/Miniforge3-$(uname)-$(uname -m).sh"
          bash Miniforge3.sh -b -p "${HOME}/conda"
          source "${HOME}/conda/etc/profile.d/conda.sh"
          source "${HOME}/conda/etc/profile.d/mamba.sh"
          sudo apt-get --allow-releaseinfo-change update
          sudo apt-get update -y
          sudo apt-get upgrade -y
          sudo apt-get install -y libgl1-mesa-glx libgl1-mesa-dev libglu1-mesa-dev freeglut3-dev libosmesa6 libosmesa6-dev libgles2-mesa-dev libarchive-dev libpangocairo-1.0-0
          mamba activate
          mamba install -y -c cadquery -c conda-forge moab gmsh python-gmsh cadquery=master "openmc=0.13.3=dagmc*nompi*"
          python -m pip install --upgrade pip 
          python -m pip install .[tests]
          pytest tests -v
          cd examples
          python create_stp_files_for_examples.py
          python cadquery_assembly.py
          python cadquery_compound.py
          python cadquery_object_and_stp_file.py
          python cadquery_text.py
          python curved_cadquery_object.py
          python multiple_cadquery_objects.py
          python multiple_stp_files.py
          python single_stp_file_multiple_volumes.py
          python single_cadquery_object.py
          python single_stp_file.py
